@using Microsoft.AspNetCore.Http;
@{
    int? id = Context.Session.GetInt32("id");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoinQualify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sitev2dark.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Dashboard">CoinQualify</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>                        
                        @if (id.HasValue)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Wallet">Wallet</a>
                            </li>

                            <li class="nav-item" style="margin-left:500px;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dashboard">Hoşgeldin!</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" id="Name"></a>
                            </li>
                            <li class="nav-item" style="padding-right:15px;">
                                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Signout">Çıkış Yap</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/User/PrintName",
                type: 'post',
                async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data)
                    console.log()
                    $('a[id=Name]').empty()
                    $('a[id=Name]').append(data.user_name)
                },
                error: function () {

                }
            });


        })
    </script>

    
    
    @RenderSection("Scripts", required: false)

</body>
</html>
